body{
    padding-top: 55px;
    font-family: 'Source Sans Pro', sans-serif;
    color:#be8ccd;
}
/*Navigation*/
nav{
    background-color: #393939;
}
/*Jumbotron*/
.jumbotron{
    
    background-color:#775881;
    border-radius: 0;
    margin-bottom: -25px;
}
.jumbotron h1{
    color: white;
    font-size: 4em;
    font-weight: bold;
    text-shadow: 3px 3px #b997c4;
}

#featured{
    margin-top: 0; 
    padding-top: 63px;
}

.headings{
    margin-top: 0;
    padding: 0;
    margin-bottom: 30px; 
}
.col-colors{
    padding-top: 10px;
    background-color: white; 
    margin-bottom: 25px;
    border-left: 2px solid #f1c1ff;
    text-align: left: 
}
.col-colors h4{
    font-size: 1.25em;
}
p{
    padding-top: 12px; 
}

/*Customize buttons*/
.btn.outline {
	background: none;
	padding: 10px 20px;
}
.btn-primary.outline {
	border: 2px solid #f1c1ff;
	color: #f1c1ff;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	color: #3f2e44;
	border-color: #3f2e44;
}
.btn-primary.outline:active, .btn-primary.outline.active {
	border-color: #b644db;
	color: #b644db;
	box-shadow: none;
}

/*Search container*/
.searchContainer{
    padding-top: 20px;
    color: #f1c1ff;
    font-size: 16px; 
}
.searchContainer h2{
    padding-bottom: 20px;
    text-decoration: none;    
}
.searchContainer a{
    text-decoration: none;
    color: #f1c1ff;
}
.searchContainer a:hover{
    color: #ae74be;
}
.border-left{
    border-left: 3px solid #f1c1ff; 
}

.container-fluid{
    background-color: #775881;
    padding-bottom: 7px;
}
#contact{
    color: #F0AD4E;
    padding-top: 4px;
    background-color: #393939;
    height: 67px;
    margin-bottom: 0;
}
#contact p{
    padding: 1px 0 1px 0; 
    margin-top: 0;
    margin-bottom: 0;
}
#contact a{
    color: #F0AD4E;
    padding: 0 7px 0 7px;
    text-decoration: none;
}
#contact a:hover{
    color: #af7e39;
    text-decoration: none;
}
.form-control::-webkit-input-placeholder { color: #c2c2c2; }
